.past-atendees--inner {
    // h2 {
    //     max-width: 48%
    // }
    .sponsor-square {
        margin-top: 30px;
        margin-bottom: 30px;
        background-color: transparent;
        border: none;
    }
    .btn-one {
        margin-top: 20px;
    }
}