.resource-post h2:after,
.single-post section.post h2:after {
  content: none;
}
// .blog .blog-content , .category .blog-content {
//     display: flex;
//     flex-wrap: wrap;
// }
// .blog .resource-post, .category .resource-post {
//     margin-bottom: 100px;
//     flex-grow: 1;
//      @media (max-width: $md){
//         margin-bottom: 50px;
//     }
//     @media (max-width: $sm){
//         margin-bottom: 25px;
//     }
// }
//half stlye
.resource-post {
  .detail-wrapper {
    @apply space-y-2.5;
  }
  .date-post {
    @include rfs(13px);
    @apply font-thin text-neutral-500 mt-3;
  }
  h2 {
    @apply text-lg font-bold leading-tight transition-all duration-200 ease-in-out;
  }
  .excerpt {
    @apply text-base font-thin;
  }
  .post-badge {
    @apply flex items-center text-xs bg-white space-x-3 absolute top-5 right-5 z-10 py-2 px-3 rounded-md stroke-black;
    .cls-1 {
      @apply stroke-black;
    }
  }
  .wp-post-image {
    @apply w-full object-cover lg:object-center max-h-64 rounded-md brightness-75 group-hover:brightness-90;
  }
  .entry-details {
    @apply flex items-center;
    img {
      max-width: 32px;
      margin-right: 12px;
      aspect-ratio: 1 / 1;
      object-fit: contain;
      background-color: #f0eded;
      border-radius: 50%;
      @media (max-width: $xl) {
        margin-right: 5px;
      }
    }
    .author-title {
      font-size: 11pt;
      width: 70%;
      @media (max-width: $xl) {
        width: 67%;
      }
      @media (max-width: $sm) {
        width: 77%;
      }
    }
  }
}

body.IE {
  .resource-post-image {
    height: 255px;
    width: 100%;
  }
  .blog .resource-post:first-of-type .post-image,
  .category .blog .resource-post:first-of-type .post-image {
    height: 100%;
  }
}

// ajax load more loading styles
.loader {
  @include rfs(20px);
  font-weight: 500;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

@keyframes blink {
  /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
  0% {
    opacity: 0.2;
  }
  /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
  20% {
    opacity: 1;
  }
  /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
  100% {
    opacity: 0.2;
  }
}

.loader.active {
  opacity: 1;
}
.loader.active span {
  /**
     * Use the blink animation, which is defined above
     */
  animation-name: blink;
  /**
     * The animation should take 1.4 seconds
     */
  animation-duration: 1.4s;
  /**
     * It will repeat itself forever
     */
  animation-iteration-count: infinite;
  /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
  animation-fill-mode: both;
}

.loader.active span:nth-child(2) {
  /**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
  animation-delay: 0.2s;
}

.loader.active span:nth-child(3) {
  /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
  animation-delay: 0.4s;
}
