.featured-speakers--inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    article {
        flex: 0 0 24%;
        max-width: 24%;
        max-width: 311px;
        margin: 50px 0px 0px;
        background: transparent;
        text-align: left;
        position: relative;
        transition: all .3s linear;
        @media (max-width: $xxl){ 
            max-width: 280px;
        }
        // @media (max-width: $xl){
        //     padding-bottom: 60px;
        // }
    
        @media (max-width: $lg){ 
            flex: 0 0 calc(33.33% - 20px);
            max-width: 33.33%;
            margin: 30px 10px;
        }
        @media (max-width: $md){ 
            flex: 0 0 50%;
            max-width: 280px;
        }
        @media (max-width: $sm){ 
            flex: 0 0 100%;
            max-width: 280px;
            margin: 15px 0;
        }
        @media (max-width: 500px) {
            max-width: 100%;
        }
        // &:hover, &:focus {
        //     -webkit-box-shadow: 3px 10px 13px -10px rgba(133,133,133,1);
        //     -moz-box-shadow: 3px 10px 13px -10px rgba(133,133,133,1);
        //     box-shadow: 3px 14px 13px -6px #858585;
        // }
        a {
            text-align: center;
        }
        .img--container {
            height: 300px;
            width: 100%;
            @media (max-width: $lg) {
                height: 250px;
            }
        }
        img{
            // height: auto !important;
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
        .name {
            @include std-font-size(25);
            font-weight: 700;
            line-height: 1.1;
            margin-top: 15px;
            @media (max-width: $xl){
                @include std-font-size(20);
                margin: 15px 0px; 
            }
        }
        .logo {
            max-width: 70%;
            padding: 0 10px;
            position: absolute;
            transform: translateX(-50%);
            left: 50%;
            bottom: 20px;
            max-height: 80px;
            @media (max-width: $xl){
                max-height: 50px;   
            }
        }
        .job{
            @media (max-width: $xl){
                @include std-font-size(18);    
            }
        }
    }
}
.speaker-profile-picture {
    transition: 0.3s all ease-in-out!important;
    will-change: transform;
}
.page-template-about-page {
    .featured-speakers--inner article:hover {
        -webkit-box-shadow: 3px 10px 13px -10px rgba(133,133,133,1);
        -moz-box-shadow: 3px 10px 13px -10px rgba(133,133,133,1);
        box-shadow: 3px 10px 13px -10px #858585;
    }
}